<head>
  <link href="style.css" type="text/css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Vidaloka|Roboto" rel="stylesheet">
  <link rel="icon" type="image/png" href="images/icon.png">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
  //Following line is a safeguard against conflicting script types
    $(document).ready(function(){
      //Tab fade when hovered: Profile
      $("#profile-tab").mouseenter(function(){
        $("#profile-tab").fadeTo(300, 0.5);
      });
      $("#profile-tab").mouseleave(function(){
        $("#profile-tab").fadeTo(500, 1);
      });
      //Tab fade when hovered: Resume
      $("#resume-tab").mouseenter(function(){
        $("#resume-tab").fadeTo(300, 0.5);
      });
      $("#resume-tab").mouseleave(function(){
        $("#resume-tab").fadeTo(500, 1);
      });
      //Tab fade when hovered: About
      $("#about-tab").mouseenter(function(){
        $("#about-tab").fadeTo(300, 0.5);
      });
      $("#about-tab").mouseleave(function(){
        $("#about-tab").fadeTo(500, 1);
      });
    //Sets margin-left of side menu to screen width in px, as setting it to 100% causes malfunction
      $("#menu-icon").mouseenter(function(){
        var widthPrototype = document.getElementById("hidden-storage").innerHTML + "px"
        document.getElementById("side-menu").style.marginLeft = widthPrototype
      });
    //Fades main image when hovered over
        $("#main-container").mouseenter(function(){
          $("#main-inner-content").fadeTo(300, 1);
          $("#main-img").fadeTo(300, 0.25);
        });
        $("#main-container").mouseleave(function(){
          if ($(window).width() >= 1000){
            $("#main-img").fadeTo(300, 1);
            $("#main-inner-content").fadeTo(300, 0);
          } else {
            $("#main-inner-content").fadeTo(300, 1);
            $("#main-img").fadeTo(300, 0.25);
          }
        });
        $("#main-button").click(function() {
          $('html,body').animate({scrollTop: $("#intro").offset().top - 135}, 'slow');
        });
        $("#profile-button").click(function() {
          $('html,body').animate({scrollTop: $("#intro").offset().top - 135}, 'slow');
        });
        $("#resume-button").click(function() {
          $('html,body').animate({scrollTop: $("#intro").offset().top - 135}, 'slow');
        });
        $("#about-button").click(function() {
          $('html,body').animate({scrollTop: $("#intro").offset().top - 135}, 'slow');
        });
        $("#contact-button").click(function() {
          $('html,body').animate({scrollTop: $("#intro").offset().top - 135}, 'slow');
        });
    //Stores updated screen-widths in hidden-storage for Prototype script to use
      var widthjQuery = $(window).width();
      document.getElementById("hidden-storage").innerHTML = widthjQuery;
      });
    //Keeps screen width updated, makes sure side-menu stays out.
    $(window).resize(function(){
      var widthjQuery = $(window).width();
      document.getElementById("hidden-storage").innerHTML = widthjQuery;
      if (document.getElementById("side-menu").style.marginLeft == "0px"){
        //Don't do anything
      } else{
        document.getElementById("side-menu").style.marginLeft = "100%";
      }
    });
  </script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
