<p id="hidden-storage"></p>
    <div id="side-menu">
      <p id="exit-side-menu" onclick="sidemenuIn()">x<p>
      <ul id="mobile-ul">
        <li id="mobile-li"><a id="mobile-tab" href="profile.php">Profile</a></li>
        <li id="mobile-li"><a id="mobile-tab" href="resume.php">Resume</a></li>
        <li id="mobile-li"><a id="mobile-tab" href="about.php">About</a></li>
        <li id="mobile-li"><a id="mobile-tab" href="contact.php">Contact Me</a></li>
      </ul>
    </div>
    <header>
    </header>
    <div id="nav-bar">
        <div id="header">
            <h1 id="title-header"><a href="index.php">Portfolio</a></h1>
        </div>
        <div id="nav-tabs">
            <ul id="desktop-ul">
                <li id="desktop-li"><a id="profile-tab" href="profile.php">Profile</a></li>
                <li id="desktop-li"><a id="resume-tab" href="resume.php">Resume</a></li>
                <li id="desktop-li"><a id="about-tab" href="about.php">About</a></li>
            </ul>
            </div>
            <div id="contact-icon-container">
            <a href="contact.php">
                <img id="contact-icon" src="images/contact-icon.jpg" height="50px" width="50px" alt="My Profile Picture">
            </a>
            </div>
            <div id="mobile-nav-bar">
            <div id="menu-icon" onclick="sidemenuOut()">
                <div id="bar1"></div>
                <div id="bar2"></div>
                <div id="bar3"></div>
            </div>
        </div>
    </div>