body{
  width: 100%;
  margin: 0;
}
h1 a{
  text-decoration: none;
  font-weight: 400;
  color: #000000;
  font-family: 'Vidaloka', serif;
  font-size: 60px;
  margin-left: 10px;
}
#title-header{
  display: inline;
  margin-left: 20px;
}
#desktop-ul{
  display: inline;
  list-style: none;
}
#desktop-li{
  font-size: 24px;
  display: inline;
  margin-left: 12.5%;
}
#mobile-ul{
  list-style: none;
}
#mobile-li{
  text-align: center;
  font-size: 24px;
  margin-bottom: 75px;
}
li a{
  text-decoration: none;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}
/*Exception for mobile menu from set above*/
#mobile-tab{
  color: #FFFFFF;
}
#contact-icon{
  border-radius: 25px;
}
#nav-bar{
  z-index: 3;
  width: 100%;
  padding-top: 20px;
  background-color: #FFFFFF;
  position: fixed;
  padding-bottom: 20px;
}
#header{
  float: left;
  width: 25%;
}
#nav-tabs{
  float: left;
  padding-top: 35px;
  width: 65%;
}
#contact-icon-container{
  float: right;
  width: 10%;
  margin-top: 15px;
  transition: transform .2s;
}
#contact-icon-container:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
}
#mobile-nav-bar{
  display: none;
}
#menu-icon{
  height: 100px;
  width: 100px;
  background-color: #FFFFFF;
  padding-top: 1px;
}
#bar1{
  width: 70px;
  height: 12.5px;
  background-color: #000000;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}
#bar2, #bar3{
  width: 70px;
  height: 12.5px;
  background-color: #000000;
  margin: 12.5px auto;
}
#side-menu{
  z-index: 4;
  position: fixed;
  margin-left: 100%;
  width: 100%;
  height: 100%;
  background-color: #222222;
}
#hidden-storage{
  display: none;
}
#exit-side-menu{
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  font-size: 150px;
  text-align: right;
  margin-top: -30px;
  margin-bottom: 0px;
  margin-right: 30px;
  font-weight: 400;
}
#main-container{
  position: relative;
  z-index: 2;
  background: #000000;
}
#main-inner-content{
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  /*Compensates for size of div, allowing it to be truly centered*/
  transform: translate(-50%, -50%);
}
#main-inner-content-header{
  text-align: center;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}
#main-button{
  width: 200px;
  height: 50px;
  background-color: #66ff33;
  margin: 0 auto;
}
#profile-button{
  width: 200px;
  height: 50px;
  background-color: #FF0000;
  margin: 0 auto;
}
#resume-button{
  width: 200px;
  height: 50px;
  background-color: #0000FF;
  margin: 0 auto;
}
#about-button{
  width: 200px;
  height: 50px;
  background-color: #FFFF00;
  margin: 0 auto;
}
#contact-button{
  width: 200px;
  height: 50px;
  background-color: #FF00FF;
  margin: 0 auto;
}
#main-button-text{
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-top: 15px;
}
#main-button-text-invert{
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-top: 15px;
}
#intro{
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}
#intro-header{
  text-align: center;
}
#main-button, #profile-button, #resume-button, #about-button, #contact-button{
  transition: transform .2s;
  cursor: pointer;
  margin-top: 50px;
}
#main-button:hover, #profile-button:hover, #resume-button:hover, #about-button:hover, #contact-button:hover{
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
}
#main-button-text{
  cursor: pointer;
}
#menu-icon{
  cursor: pointer;
}
#exit-side-menu{
  cursor: pointer;
}
#profile-option{
  background-color: #FF0000;
  transition: transform .2s;
}
#profile-option:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
}
#resume-option{
  background-color: #0000FF;
  transition: transform .2s;
}
#resume-option:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
}
#about-option{
  background-color: #FFFF00;
  transition: transform .2s;
}
#about-option:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
}
#option-image{
  opacity: 0.35;
}
#option-header{
  text-align: center;
  font-size: 33px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  margin-top: 15px;
  margin-bottom: 15px;
}
#option-content{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  color: #FFFFFF;
  font-size: 25px;
  position: relative;
  top: 75px;
  z-index: 1;
  line-height: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  height: 0px;
}
/*Same as above, but inverts text to compensate for bright yellow*/
#option-content-invert{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  color: #000000;
  font-size: 25px;
  position: relative;
  top: 75px;
  z-index: 1;
  line-height: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  height: 0px;
}
#option-link{
  text-decoration: none;
}
#contact-whisper{
  text-align: center;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #444444;
  transition: transform .2s;
  cursor: pointer;
}
#contact-whisper:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}
#resume-div{
  width: 100%;
  background: #DDDDDD;
  padding-top: 20px;
  height: 52px;
  padding-bottom: 20px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
#resume-title{
  font-family: 'Montserrat', sans-serif;
  text-align: right;
  margin: 0px;
  width: 47.5%;
  display: inline;
  float: left;
  padding-top: 15px;
  padding-right: 3%;
}
#resume-view{
  background-color: #0000FF;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #FFFFFF;
  margin: 0px;
  width: 10%;
  display: inline;
  float: left;
  margin-right: 1%;
}
#resume-download{
  background-color: #0000FF;
  margin: 0px;
  width: 25px;
  display: inline;
  float: left;
  padding: 11px;
}
#list-item{
  margin: 0px;
}
#separating-line{
  color: #888888;
  text-align: center;
}
#list-item-header{
  padding-left: 5%;
  font-family: 'Montserrat', sans-serif;
}
#list-item-content{
  font-family: 'Montserrat', sans-serif;
  padding-left: 5%;
  padding-right: 5%;
}
#list-img-item{
  margin: 0px;
  height: 250px;
}
#img-item{
  display: inline;
  padding-left: 5%;
  padding-right: 5%;
  width: 10%;
  height: 180px;
  float: left;
}
#img-item-long{
  display: inline;
  padding-left: 2%;
  padding-right: 2%;
  width: 16%;
  height: 160px;
  float: left;
}
#img-item-medium{
  display: inline;
  padding-left: 3%;
  padding-right: 3%;
  width: 14%;
  height: 180px;
  float: left;
}
#img-item-header{
  font-family: 'Montserrat', sans-serif;
  width: 75%;
  float: left;
}
#img-item-content{
  font-family: 'Montserrat', sans-serif;
  width: 75%;
  float: left;
}
.contact-icon-active{
  border: 3px solid #000000;
  width: 44px;
  height: 44px;
}
#link-button{
  background-color: #333333;
  height: 60px;
  width: 500px;
  margin: 0 auto;
  transition: transform .2s;
}
#link-button:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
}
#link-text{
  color: orange;
  display: inline;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  float: left;
  padding-top: 22px;
  padding-left: 50px;
}
#link-image{
  float: left;
  padding: 10px;
  display: inline;
}
main{
  padding-top: 112px;
}
footer{
  text-align: center;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  background-color: #333333;
  color: #FFFFFF;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0px;
}
footer a{
  color: #FFFFFF;
  text-decoration: none;
}
.active-li{
  padding-bottom: 24px;
  border-bottom: 5px solid #222222;
  font-weight: bold;
}
.option{
  width: 31%;
  height: 620px;
  display: inline-block;
  margin: 1%;
  cursor: pointer;
}
.option-image-mobile{
  display: none;
}

/* Bootstrap/modal CSS styles */

#card {
  height: 70px;
  width: 30%;
  display: inline-block;
  margin-left: 2.4%;
  margin-top: 20px;
  padding: 0px;
  transition: transform 0.1s;
  box-shadow: 2px 2px 10px grey;
}

#card:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
}

#card h3 {
  padding-left: 5%;
  /* width: 50%; */
}

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width: inherit;
 max-width: inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
    height: inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

/* End Bootstrap/modal styles */

@media only screen and (max-width: 1000px){
  #nav-bar{
    padding-top: 0px;
    padding-bottom: 11px;
  }
  #nav-tabs{
    display: none;
  }
  #contact-icon-container{
    display: none;
  }
  #mobile-nav-bar{
    float: right;
    display: block;
    width: 40%;
  }
  #menu-icon{
    float: right;
    margin-right: 5%;
  }
  #header{
    padding-top: 20px;
    width: 60%;
  }
  #option-content{
    top: 50px;
  }
  #option-content-invert{
    top: 50px;
  }
  #main-inner-content{
    opacity: 1;
  }
  #main-img{
    opacity: 0.25;
  }
  #img-item{
    display: inline;
    padding-left: 5%;
    padding-right: 5%;
    width: 20%;
    height: 180px;
    float: left;
  }
  #img-item-long{
    display: inline;
    padding-left: 2%;
    padding-right: 2%;
    width: 26%;
    height: 160px;
    float: left;
  }
  #img-item-medium{
    display: inline;
    padding-left: 3%;
    padding-right: 3%;
    width: 24%;
    height: 180px;
    float: left;
  }
  #img-item-header{
    font-family: 'Montserrat', sans-serif;
    width: 65%;
    float: left;
  }
  #img-item-content{
    font-family: 'Montserrat', sans-serif;
    width: 65%;
    float: left;
  }
  .option-image-desktop{
    display: none;
  }
  .option-image-mobile{
    display: inherit;
  }
  .option{
    width: 94%;
    height: 300px;
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
    cursor: pointer;
  }
}
@media only screen and (max-device-width: 600px){
  h1 a{
    font-size: 120px;
  }
  main{
    padding-top: 207px;
  }
  #nav-bar{
    padding-bottom: 31px;
    padding-top: 20px;
  }
  #mobile-nav-bar{
    width: 25%;
  }
  #menu-icon{
    height: 150px;
    width: 150px;
    background-color: #FFFFFF;
    padding-top: 1px;
    margin-right: 30px;
  }
  #header{
    padding-top: 10px;
    padding-left: 3%;
    width: 70%;
  }
  #bar1{
    width: 120px;
    height: 20px;
    background-color: #000000;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }
  #bar2, #bar3{
    width: 120px;
    height: 20px;
    background-color: #000000;
    margin: 20px auto;
  }
  #exit-side-menu{
    font-size: 250px;
    font-weight: 500;
    margin-top: -50px;
  }
  #intro-header{
    font-size: 45px;
  }
  #option-content{
    top: 35px;
    font-size: 32px;
  }
  #option-content-invert{
    top: 35px;
    font-size: 32px;
  }
  #main-button, #profile-button, #resume-button, #about-button, #contact-button{
    display: none;
  }
  #main-inner-content-header{
    font-size: 75px;
  }
  #mobile-li{
    font-size: 50px;
    margin-bottom: 150px;
  }
  #resume-title{
    padding-top: 8px;
    font-size: 30px;
  }
  #resume-view{
    width: 20%;
    font-size: 20px;
    margin-top: -5px;
  }
  #resume-download{
    padding: 17px;
    margin-top: -4px;
  }
  #list-item-content{
    font-size: 15px;
  }
  #list-img-item{
    margin: 0px;
    height: 450px;
  }
  #img-item{
    padding-left: 5%;
    padding-right: 5%;
    width: 20%;
  }
  #img-item-long{
    padding-left: 2%;
    padding-right: 2%;
    width: 26%;
  }
  #img-item-medium{
    padding-left: 3%;
    padding-right: 3%;
    width: 24%;
  }
  #img-item-header{
    width: 65%;
    font-size: 35px;
  }
  #img-item-content{
    width: 65%;
    font-size: 25px;
  }
  #link-button{
    margin-top: -14px;
    width: 70%;
    height: 80px;
  }
  #link-image{
    padding: 16px;
  }
  #link-text{
    font-size: 28px;
    padding-left: 30px;
  }
}
